/datasets/*
/model/__pycache__/*
/utils/__pycache__/*
/runs/
.idea/
/outputs/
.gitignore~
..gitignore.un~
/test/test_dataset.py
/configs/__pycache__/
/test/__pycache__/*
/tools/__pycache__/*
/tools/data_conversion/__pycache__/*
/weights/yolo_weights.pt